@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root {
    --grey-900: hsl(0, 0%, 17%);
    --grey-400: hsl(0, 0%, 59%);
}
body {
    min-height: 100vh;
}

/* user_input_container */
.user_input_container {
    position: relative;
    height: 17.5rem;
    background-image: url('../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
}

.user_input_container .title {
    width: 100%;
    min-height: 5.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.user_input_container .user_input {
    width: 100%;
    max-width: 37.5rem;
    min-height: 3.75rem;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0.75rem;
    overflow: hidden;
}
.user_input_container .user_input input {
    cursor: pointer;
    border: none;
    outline: none;
    width: calc(100% - 3.75rem);
    font-size: 1.125rem;
    padding: 1.25rem 0 1.25rem 1.5rem;
}
.user_input_container .user_input button {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.125rem;
    font-weight: 700;
    min-width: 3.75rem;
    background-color: black;
    color: hsl(0, 0%, 100%);
    transition: background 350ms ease;
}
.user_input button:hover {
    background-color: var(--grey-900);
}
/* result_container */
.result_container {
    width: 90%;
    max-width: 69.5rem;
    min-height: 10rem;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.25);
    z-index: 2;
}
.result_container > div {
    width: 100%;
    max-width: 17.5rem;
    position: relative;
    padding: 1.875rem;
    flex-grow: 1;
}
.result_container > :not(.result_container > div:last-child)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 5.625rem;
    background-color: var(--grey-400);
    top: 50%;
    right: 0;
    transform: translateY(-50%);  
}
.result_container > div div:first-child {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--grey-400);
    margin-bottom: 1rem;
}
.result_container > div div:last-child {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--grey-900);
    word-break: break-all;
}
/* map_container */
.map_container {
    height: calc(100vh - 17.5rem);
    width: 100%;
    z-index: 1;
}

@media screen  and (max-width: 41.5rem){
    .user_input_container {
        height: 19.375rem;
    }
    .user_input_container .title {
        min-height: 5.3125rem;
    }
    .result_container {
        flex-direction: column;
        max-height: max-content;
        bottom: none;
        top: 11.25rem;
        padding: 1.125rem;
        gap: 1.125rem;
    }
    .result_container > div {
        min-width: 100%;
        text-align: center;
        padding: 0;
    }
    .result_container > div::after {
        display: none;
    }
    .result_container > div div:first-child {
        margin-bottom: 0.875rem;
    }
}